<!DOCTYPE html>
<html>
    <head>
<style>
table, th, td, caption {
  border: 1px solid black;
}
</style>

    </head>
    <body>

<table>
<caption>All addresses</caption>
<thead>
<tr>
	<th>Id</th>
	<th>Address</th>
	<th>Live in that address</th>
</tr>
</thead>
<tbody>
{% for address in addresses %}
<tr>
	<td>{{address.id}}</td>
	<td>{{address.address}}</td>
	<td>
	{% for person in address.persons %}
	{{person.name}}, 
	{% endfor %}
	</td>
</tr>
{% endfor %}	
</tbody>
</table>

<a href="/address">Back to form address</a>


</body>
</html>
