{% extends 'base.html.twig' %}

{% block title %}Table persons{% endblock %}

{% block body %}
<style>
table, th, td, caption {
  border: 1px solid black;
}

    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">


<table>
<caption>{{table_name}}</caption>
<thead>
<tr>
{% for column in columns_name %}
	<td>{{column.Field}}</td>
{% endfor %}
</tr>
</thead>
<tbody>
{% for row in result %}
 <tr>
 {% for col in row %}
  <td>{{col}}</td>
 {%endfor%}
 </tr>
{% endfor %}	
</tbody>
</table>
</div>

{% endblock %}
